# Build results
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.app
*.ipa
*.apk

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Visual Studio Code files
.vscode/
.vs/

# Rider
.idea/

# NuGet Packages
*.nupkg
*.snupkg

# Local development
local.settings.json
